

.card {
border: 1px solid #fff;
margin-bottom: 12px;
box-shadow: 0px 0px 1px 1px #ccc;
}



span.badge.badge-light {
    float: right;
top: 47px;
}






.modal-body button.btn.btn-primary {
    
    font-weight: 600;
    padding: 6px 17px;
    margin: 10px 20px;
    min-height: 100px;
    width: 80%;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: #000;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
}

.modal-body button.btn.btn-primary:hover,div#apstatus button.btn.btn-primary:hover,div#ps button.btn.btn-primary:hover {
    background-position: right center;
    color: #000;
    text-decoration: none;
}
.col-md-12.d-flex {
padding: 0px 0px !important;
}
div#apstatus button.btn.btn-primary {
font-weight: 600;
padding: 6px 17px;
    margin: 10px 20px;
    min-height: 100px;
    width: 80%;
    background-image: linear-gradient(to right, #d4fc79 0%, #61dd72 51%, #d4fc79 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: #000;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
}
div#ps button.btn.btn-primary {
font-weight: 600;
padding: 6px 17px;
    margin: 10px 20px;
    min-height: 100px;
    width: 80%;
    background-image: linear-gradient(to right, #7986CB 0%, #3949AB 51%, var(--purple) 100%);
    
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
}
.btn.btn-primary {
align-content: flex-start;
flex-wrap: wrap;
}
div#pss button.btn.btn-primary{

background-image:linear-gradient(to right, #FFA726 0%, #FFAB40 51%, var(--purple) 100%);
color: #fff;
}
div#ais button.btn.btn-primary {
background-image:linear-gradient(to right, #8D6E63 0%, #6D4C41 51%, var(--purple) 100%);
color: #fff;
}

button.btn.btn-primary:hover {
box-shadow: 5px 5px 8px #ccc;
}
/* dashboard cards css */
.card-counter{
box-shadow: 2px 2px 10px #DADADA;
margin: 5px;
padding: 20px 10px;
background-color: #fff;
height: 125px;
border-radius: 5px;
transition: .3s linear all;
}

.card-counter:hover{
box-shadow: 4px 4px 20px #DADADA;
transition: .3s linear all;
}

.card-counter.primary{
background: linear-gradient(to bottom, #d23283, #771656);
color: #FFF;
}

 
.card-counter.primary {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .card-counter.primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 2px 3px #ccc;
  }
 

 
  .card-counter.danger {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .card-counter.danger:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 2px 3px #ccc;
  }
 


 
.card-counter.success {
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
   
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .card-counter.success:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 2px 3px #ccc;
  }
 

 
.card-counter.info {
    background-image: linear-gradient(to right, #53a900 0%, #2c970d  51%, #ADD100  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .card-counter.info:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 2px 3px #ccc;
  }
 


.card-counter i {
opacity: 0.3;
right: 36px;
position: absolute;
top: 30px;
font-size: 4.5em;
}

.card-counter .count-numbers{
position: absolute;
left: 35px;
top: 20px;
font-size: 32px;
display: block;
}
i.fa.fa-calendar-check-o {
font-size: 4.5em;
}

.card-counter .count-name{
position: absolute;
left: 35px;
top: 102px;
font-style: normal;
text-transform: capitalize;
opacity: 0.7;
display: block;
font-size: 16px;
}
span.count-numbers {
font-family: 'Mada';
font-weight: 600;
text-shadow: 1px 2px 3px #333;
font-size: 28px !important;
}
.card-counter.primary img, .card-counter.danger img, .card-counter.success img {
width: 28%;
position: absolute;
right: 38px;
opacity: 0.5;
}

h4#myLargeModalLabel\ cfe {
background: #F8FFE8;
background: linear-gradient(to right, #02AAB0 0%, #106a5c 51%, #02AAB0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h4#myLargeModalLabel\ cfo{
background: #F8FFE8;
background: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.badge {
font-size: 100%;
font-weight: 600;
}
